
form {
    margin:  0 100px;
}

.input-container{
    margin-top: 20px;
}

.input-container label{
    color: rgba(117, 28, 95, 0.8);
    font-size: 15px;
    display: block;
    margin-bottom: 0;
}

.input-container img {
    background: rgba(255, 215, 245, 0.8);
    width:43px;
    height:43px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group{
    display: flex;
}

.input-group input{
    height: 43px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.input-group textarea, .input-group input{
    padding: 8px;
    resize: none;

    font-size: 15px;
    flex-basis: 100%;
    min-width: 200px;
    border: 1px solid rgba(152, 98, 140, 0.8);

}

.input-group textarea{
    border-radius: 10px;
    outline: none;
}

form button{
    padding: 10px 35px;
    font-size: 14px;
    margin-top: 25px;
    background: rgba(180, 15, 139, 0.8);
    color:white;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}

form:invalid button {
    opacity: 0.5;
    cursor: default;
}

/* dropdown */
.btn-group {
    display: flex;
    margin-top: 20px;
}

.btn-group div {
    border: solid 1px #ddd;
    padding: 4px;
}

.btn-group .btn-placeholder {
    border: solid 1px #ddd;
    padding: 4px 50px 4px 4px;
}

.btn-group-prepend{
    cursor: pointer;
}

ul.dropdown-menu {
    position: absolute;
    top: 0;
    margin: 0;
    background: white;
    list-style: none;
    padding: 20px 0 10px 0;
    border: solid 1px #ddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0.8) translateY(10px);
    transition: transform 0.5s, visibility 1s linear 1s;
}

.dropdown-menu.show {
    opacity: 1;
    transform: scaleY(1) translateY(0px);
    visibility: visible;
}

.dropdown-menu-item {
    padding: 4px 100px 4px 10px;
    cursor: pointer;
    transition: background 0.5s;
}

.dropdown-menu-item:hover {
    background: #ddd;
}
