body{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color:#333;
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../webfonts/impact.ttf);
}


.mag2 ul{
    list-style: none;
    padding-left: 0;
}
.mag2 li{
    line-height: 2em;
}

/* custom */
.nav-link.active{
    font-weight: bold;
}

.mag2 .btn-secondary{
    background: #333;
    color: #fff;
}

.grecaptcha-badge{
    display: none;
}

.slogan{
    font-size: 80px;
    font-family: 'Impact', sans-serif;
}

.agTtitle{
    font-size: 52px;
    font-family: 'Impact', sans-serif;
}

.agDescriptionText{
    font-size: 18px;
}

.agContentText{
    font-size: 20px;
}

.agText{
    font-weight: bold;
    font-size: 24px;
}

.agHead1{
    font-weight: bold;
    font-size: 26px;
}
.agHeader2{
    font-weight: bold;
    font-size: 20px;
}

.agTitle2{
    font-weight: bold;
    font-size: 50px;
}

.step, .day{
    font-size: 40px;
    font-weight: bold;
}

.month{
    font-size: 18px;
    font-weight:bold;
}

.colorWhite{
    color:#fff;
}

.colorWhite a{
    color:#fff;
}

.colorGreyLight{
    color:#808080;
}

.colorGrey{
    color:#ccc;
}

.colorYellow{
    color:#F4D509;
}

.bgDark{
    background:#333;
    color:#fff;
}

.bgDark a{
    color:#fff;
}

.card-active{
    border-radius: 25px;
    background: rgba(244, 213, 9, 0.20);
}




.slide5 ul.creation  li.active i{
    color: #F4D509;
}

.slide5 ul.shopman li.active i{
    color: #AA7FF5;
}

.slide5 button{
    border: none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
}
.slide5 button.download{
    background: #D8D8D8;
    font-size: 90%;
    padding: 10px 50px;
    color:#fff;
}
.slide5 button.store{
    background: #18181B;
    padding: 10px 20px ;
    color:#fff;
}
.slide5 .video{
    border-radius: 20px;
    width:80%;
    height: 80%;
    background: #777;
}
.slide5 .video{
    border-radius: 25px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}


.slide6 .fa-circle{
    color: #F4D509
}
.slide6 hr {
    margin: 7px 0 0 5px;
    border-top: solid 2px #F4D509;
    border-bottom: solid 2px #F4D509;
}


/* slide 8  */
.slide8{
    height: 500px;
    overflow: hidden;
}
.slide8 .content{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
}

.slide8 svg{
    position: absolute;
    top:0;
    right: 0;
    fill:  #F4D509;;
}
.slide8 .image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.slide8 .col-4 p{
    margin: 5px 0;
    font-size: 120%;
    font-weight: bold;
}
.slide8 .col-4 a{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.slide9{
    background: #333;
}
.slide9 .content{
    border-radius: 50px;
    height: 400px;
    width: 100%;
    background: #FFC947;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide9 .content div{
    font-size: 300%;
    font-weight: bold;
}
.slide9 .content button{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: #333;
    padding: 10px 20px ;
}
.slide10 {
    background: #333;
}

.slide10 input{
    background: #444;
    padding: 6px  100px 6px 10px;
    border: solid 1px #444;
    border-radius: 20px;
    outline: none;
}
.slide10 input:focus{
    outline: none;
}
.slide10 button{
    position: absolute;
    right:0;
    top:5px;
    border: none;
    border-radius: 15px;
    background: #FFC947;
    padding: 3px 20px ;
    color:#333;
}


.slide11 .separator{
    border-top: solid 1px white;
    padding-bottom: 20px;
}
