body{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color:#333;
}

@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../webfonts/impact.ttf);
}
/**************************** BUTTON AND INPUT  ****************/
.btnMenuTop{
    background-color: #333;
    border: none;
    color: #fff;
    transition: background-color .5s;
}
.btnMenuTop:hover{
    background-color: #555;
    color: #fff;
}

.btnDownload{
    background-color: #D8D8D8;
    border-radius: 30px;
    border: none;
    font-size: 90%;
    padding: 10px 50px;
    color:#fff;
    transition: background-color .5s;
}
.btnDownload:hover{
    background-color:#ccc;
}

.btnStore{
    background-color: #18181B;
    color:#fff;
    border: none;
    border-radius: 30px;
    transition: background-color .5s;
}
.btnStore:hover{
    background-color: #222;
}


/**************************** FONT FIGMA CLASSES  ****************/
.slogan{
    font-size: 80px;
    font-family: 'Impact', sans-serif;
}
.agTitle{
    font-size: 52px;
    font-family: 'Impact', sans-serif;
}
.agTitle2{
    font-weight: bold;
    font-size: 50px;
}
.step, .day{
    font-size: 40px;
    font-weight: bold;
}
.agHead1{
    font-weight: bold;
    font-size: 26px;
}
.agText{
    font-weight: bold;
    font-size: 24px;
}
.agHeader2{
    font-weight: bold;
    font-size: 20px;
}
.agContentText{
    font-size: 20px;
}
.month{
    font-size: 18px;
    font-weight:bold;
}
.agDescriptionText{
    font-size: 18px;
}
/**************************** COLOR DESIGN SYSTEM ****************/
.colorWhite{
    color:#fff;
}
.colorGreyLight{
    color:#808080;
}
.colorGrey{
    color:#ccc;
}
.colorYellow{
    color:#F4D509;
}
.colorPurple{
    color:#AA7FF5
}
/****************************SECTIONS FIGMA HEIGHT AND PADDING ****************/
.navigation-section{
    height: 114px;
}
.intro-section {
    height: 1048px;
    padding-bottom: 141px;
}
.aboutUs-section{
    height: 1043px;
}
.ourProduct-section{
    height: 1430px;
    background:#333;
    color:#fff;
}
.ourProcess-section{
    height: 616px;
    padding: 80px 0;
}
.news-section {
    height: 609px;
    padding: 80px 0;
}
.ourPartner-section{
    height: 636px;
    padding-top: 48px;
    padding-bottom: 102px;
}
.contact-section{
    height:971px;
    padding-top: 120px;
    background:#333;
    color:#fff;
}
/**************************** UTILITIES ****************/
.ab-center-center{
    position: absolute;top:50%;left:50%;transform: translate(-50%,-50%)
}
.nav-link.active{
    font-weight: bold;
}
/**/
.grecaptcha-badge{
    display: none;
}
.card-active{
    border-radius: 25px;
    background: rgba(244, 213, 9, 0.20);
}

.ourProcess hr {
    margin: 7px 0 0 5px;
    border-top: solid 2px #F4D509;
    border-bottom: solid 2px #F4D509;
}
.slide5 .video{
    border-radius: 20px;
    width:80%;
    height: 80%;
    background: #777;
}
.slide5 .video{
    border-radius: 25px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width:500px;
}

.slide8 .content{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
}
.image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.slide10 input{
    background: #444;
    padding: 6px  100px 6px 10px;
    border: solid 1px #444;
    border-radius: 20px;
    outline: none;
}
.slide10 input:focus{
    outline: none;
}
.slide10 button{
    position: absolute;
    right:0;
    top:5px;
    border: none;
    border-radius: 15px;
    background: #F4D509;
    padding: 3px 20px ;
    color:#333;
}
.slide11 .separator{
    border-top: solid 1px white;
    padding-bottom: 20px;
}



.circle{
    stroke: #F4D509;
}
