*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding-left: 10px;
}
.row {
    min-height: 200px;
}
/* custom */
.nav-link.active{
    font-weight: bold;
}
.mag2 .btn-secondary{
    background: #000;
    color: #fff;
}
.mag2 .big-title{
    font-family: 'Bebas Neue', sans-serif;
}
.title-yellow{
    color:#F4D509;
    font-weight:bolder
}
